[submodule "CODE/COMPUTER_VISION/KEY_FRAME_SELECTION/RUNNING/CODE/COMPUTER_VISION/KEY_FRAME_SELECTION/RUNNING/darknet"]
	path = CODE/COMPUTER_VISION/KEY_FRAME_SELECTION/RUNNING/CODE/COMPUTER_VISION/KEY_FRAME_SELECTION/RUNNING/darknet
	url = https://github.com/AlexeyAB/darknet
